.image-container {
    position: relative;
    z-index: 1;
    width: 302px;
    height: 302px;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    display: block;
}

.image-container .overlay-container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in-out;
    background-color: rgba(0, 255, 248, 0.4);
    border-radius: 12px;
}

.image-container:hover .overlay-container {
    opacity: 1;
}

.image-container .overlay-container i {
    font-size: 48px;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .image-container {
        width: 278px;
        height: 278px;
    }
}